// Color

$lightTelegray: #CACACA;
$white: #fff;
$gainsborough: #E5E5E5;
$orangeCrayola: #FF6E30;
$pearlyOrange: #BC572B;
$titian: #CE4307;
$smokyWhite: #E9E9E9;
$blackBrown: #202020;
$wetAsphaltColor: #4A4A4A;
$pearlLightGray: #999999;
